.canvas-head {
    background-color: #39aebc;
}

.bg-nav {
    background-color: #226870 !important;
}

.save-btn {
    background-color: #226870 !important;
}

.cancel-btn {
    color: crimson;
    border: none;
    background-color: white;
}